ul {
    list-style: none;
}
.favLi {
    vertical-align: middle;
    list-style: none;
    width: 100%;
    height: 45px;
    border-bottom: blue solid 1px;
    margin-bottom: 2px;
    padding-top: 2px;
    font-size: larger;

}
.btn-danger {
    margin-left: 10px
}

